<div class="mobile-nav">
    <div class="m-nav-toggle">
      <a data-w-id="feadb1d6-5284-2c03-c6fc-25d4ebad28d9" href="{{ links.23 }}" class="m-nav-toggle-close w-inline-block">
        <div class="m-nav-toggle-inner close">
          <div class="menu-bg drk"></div>
          <div class="menu-bg lite"></div>
          <div class="m-nav-close-icon-wrapper">
            <div class="m-nav-toggle-description w-embed"><svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M20.9767 19.5618L21.1536 19.3851L20.9768 19.2082L2.59175 0.823223L2.41491 0.646384L2.23814 0.823286L0.824137 2.23829L0.647495 2.41505L0.82419 2.59177L19.2072 20.9768L19.3839 21.1535L19.5607 20.9768L20.9767 19.5618Z" fill="currentColor" stroke="currentColor" stroke-width="0.5"></path>
                <path d="M2.23816 20.9767L2.41494 21.1536L2.59178 20.9768L20.9768 2.59175L21.1536 2.41491L20.9767 2.23814L19.5617 0.824137L19.3849 0.647495L19.2082 0.82419L0.823233 19.2072L0.646499 19.3839L0.823161 19.5607L2.23816 20.9767Z" fill="currentColor" stroke="currentColor" stroke-width="0.5"></path>
              </svg></div>
          </div>
        </div>
      </a>
      <a data-w-id="feadb1d6-5284-2c03-c6fc-25d4ebad28dd" href="{{ links.23 }}" class="m-nav-toggle-open w-inline-block">
        <div class="m-nav-toggle-inner">
          <div class="menu-bg lite"></div>
          <div class="menu-bg drk"></div>
          <p class="m-nav-toggle-description">{{ texts.240d5f }}</p>
        </div>
      </a>
    </div>
    <nav class="m-nav-overlay">
      <div class="m-nav-content">
        <ul role="list" class="m-nav-list w-list-unstyled">
          <li class="m-nav-link-item">
            <a href="{{ links.2f }}" aria-current="page" class="d-80-menu-item-text w--current">{{ texts.2268ff }}</a>
          </li>
          <li class="m-nav-link-item">
            <a data-w-id="feadb1d6-5284-2c03-c6fc-25d4ebad28ea" href="{{ links.-1caff5b2 }}" class="d-80-menu-item-text">{{ texts.-37ac8366 }}</a>
          </li>
          <li class="m-nav-link-item">
            <a data-w-id="feadb1d6-5284-2c03-c6fc-25d4ebad28ed" href="{{ links.2ff839d9 }}" class="d-80-menu-item-text">{{ texts.-149ceef3 }}</a>
          </li>
          <li class="m-nav-link-item">
            <a data-w-id="feadb1d6-5284-2c03-c6fc-25d4ebad28f0" href="{{ links.55b8e8be }}" class="d-80-menu-item-text">{{ texts.645eff2b }}</a>
          </li>
          <li class="m-nav-link-item last-item">
            <a data-w-id="947ca3d6-24af-aeb0-29a1-e89c5a19fd74" href="{{ links.-5aef5834 }}" class="d-80-menu-item-text">{{ texts.-64104400 }}</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="m-nav-toggle-bg">
      <div class="bottom-gradient drk"></div>
      <div class="bottom-gradient lite"></div>
    </div>
  </div>