<div data-collapse="medium" data-animation="over-right" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar w-nav">
    <div class="container nav w-container">
      <a href="{{ links.2f }}" aria-current="page" class="brand w-nav-brand w--current">
        <div class="logo-name"><strong>{{ texts.-7e529a98 }}</strong>{{ texts.437d4908 }}</div>
      </a>
      <nav role="navigation" class="nav-menu w-nav-menu">
        <a href="{{ links.2f }}" aria-current="page" class="d-80-menu-item-wrapper w-inline-block w--current">
          <div class="d-80-menu-item-text">{{ texts.30f4df }}</div>
          <div class="d-80-line"></div>
          <div class="d-80-line bottom"></div>
        </a>
        <a href="{{ links.-1caff5b2 }}" class="d-80-menu-item-wrapper w-inline-block">
          <div class="d-80-menu-item-text">{{ texts.-37ac8366 }}</div>
          <div class="d-80-line"></div>
          <div class="d-80-line bottom"></div>
        </a>
        <a href="{{ links.2ff839d9 }}" class="d-80-menu-item-wrapper w-inline-block">
          <div class="d-80-menu-item-text">{{ texts.-149ceef3 }}</div>
          <div class="d-80-line"></div>
          <div class="d-80-line bottom"></div>
        </a>
        <a href="{{ links.55b8e8be }}" class="d-80-menu-item-wrapper w-inline-block">
          <div class="d-80-menu-item-text">{{ texts.3c2336d }}</div>
          <div class="d-80-line"></div>
          <div class="d-80-line bottom"></div>
        </a>
        <a href="{{ links.-5aef5834 }}" class="d-80-menu-item-wrapper w-inline-block">
          <div class="d-80-menu-item-text">{{ texts.-64104400 }}</div>
          <div class="d-80-line"></div>
          <div class="d-80-line bottom"></div>
        </a>
        <a href="{{ links.2f }}" aria-current="page" class="nav-link w-nav-link w--current">{{ texts.2268ff }}</a>
        <a href="{{ links.23 }}" class="nav-link w-nav-link">{{ texts.-37ac8366 }}</a>
        <a href="{{ links.23 }}" class="nav-link w-nav-link">{{ texts.-6c48939e }}</a>
        <a href="{{ links.23 }}" class="nav-link w-nav-link">{{ texts.3c2336d }}</a>
        <div class="drk-lite-toggle-wrapper">
          <div id="mode-switch" data-w-id="438195a4-46d1-a264-dd96-bd154524fecb" data-is-ix2-target="1" class="dark-mode-toggle drk switch-toggle" data-animation-type="lottie" data-src="/assets/documents/lf30_editor_0sutp6za.json" data-loop="0" data-direction="-1" data-autoplay="0" data-renderer="svg" data-default-duration="4" data-duration="0" data-ix2-initial-state="25"></div>
          <div id="mode-switch" data-w-id="705ba804-6644-2e82-2166-d034701f6c1e" data-is-ix2-target="1" class="dark-mode-toggle lite switch-toggle" data-animation-type="lottie" data-src="/assets/documents/lf30_editor_0sutp6za.json" data-loop="0" data-direction="-1" data-autoplay="0" data-renderer="svg" data-default-duration="4" data-duration="0"></div>
        </div>
      </nav>
      <div data-w-id="888fd407-a1d4-f94a-943b-08c02f7b7a8d" class="_141-line-wrapper">
        <div class="_141-open-button-line"></div>
        <div class="_141-open-button-line"></div>
        <div class="_141-open-button-line"></div>
      </div>
      <div class="drk-lite-toggle-wrapper mobile">
        <div id="mode-switch" data-w-id="88ee20b5-34e0-47d9-c730-e8735557d572" data-is-ix2-target="1" class="dark-mode-toggle drk switch-toggle mobile" data-animation-type="lottie" data-src="/assets/documents/lf30_editor_0sutp6za.json" data-loop="0" data-direction="-1" data-autoplay="0" data-renderer="svg" data-default-duration="4" data-duration="0" data-ix2-initial-state="21"></div>
        <div id="mode-switch" data-w-id="88ee20b5-34e0-47d9-c730-e8735557d573" data-is-ix2-target="1" class="dark-mode-toggle lite switch-toggle" data-animation-type="lottie" data-src="/assets/documents/lf30_editor_0sutp6za.json" data-loop="0" data-direction="-1" data-autoplay="0" data-renderer="svg" data-default-duration="4" data-duration="0"></div>
      </div>
    </div>
    <div data-w-id="0a91b464-a40f-7253-5e2a-1514b14a0b1e" class="_141-menu-wrapper">
      <div data-preserve-aspect-ratio="none" data-w-id="0a91b464-a40f-7253-5e2a-1514b14a0b1f" data-is-ix2-target="1" class="lottie-animation-2" data-animation-type="lottie" data-src="https://uploads-ssl.webflow.com/6078f630d5e352dc1cca5106/6078f630d5e3521f85ca529f_menu-animation.json" data-loop="0" data-direction="1" data-autoplay="0" data-renderer="svg" data-default-duration="1" data-duration="0" data-ix2-initial-state="0"></div>
      <div class="_141-nav-wrapper">
        <a href="{{ links.51b38a40 }}" target="_blank" class="_141-nav-item w-inline-block">
          <div class="_141-nav-text">{{ texts.593a48c1 }}</div>
          <div class="_141-nav-decoration"></div>
        </a>
        <a href="{{ links.-1b0fd606 }}" target="_blank" class="_141-nav-item w-inline-block">
          <div class="_141-nav-text">{{ texts.-126f1ce7 }}</div>
          <div class="_141-nav-decoration"></div>
        </a>
        <a href="{{ links.-6c6acce4 }}" target="_blank" class="_141-nav-item w-inline-block">
          <div class="_141-nav-text">{{ texts.1e21ad3d }}</div>
          <div class="_141-nav-decoration"></div>
        </a>
        <a href="{{ links.-1d7ab8df }}" target="_blank" class="_141-nav-item w-inline-block">
          <div class="_141-nav-text">{{ texts.-64104400 }}</div>
          <div class="_141-nav-decoration"></div>
        </a>
        <div data-w-id="8630aa4e-63b9-d4ec-0a66-af0d74dbc07a" data-is-ix2-target="1" class="dark-mode-toggle" data-animation-type="lottie" data-src="/assets/documents/lf30_editor_0sutp6za.json" data-loop="0" data-direction="-1" data-autoplay="0" data-renderer="svg" data-default-duration="4" data-duration="0"></div>
      </div>
      <div data-w-id="0a91b464-a40f-7253-5e2a-1514b14a0b31" class="_141-close-button-wrapper">
        <div class="_141-close-button-outer"></div>
        <div data-w-id="0a91b464-a40f-7253-5e2a-1514b14a0b33" class="_141-close-button-inner"></div>
        <div class="_141-close-button-x"></div>
        <div class="_141-close-button-x _2"></div>
      </div>
    </div>
  </div>